---
import './hero.css';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Joy Huré</h1>
			<p class="hero__text">
				Étudiante en BTS SIO SLAM, je perfectionne mes compétences techniques en développement d'applications avec une attention particulière portée sur la satisfaction des besoins et l'expérience des utilisateurs.
			</p>
		</div>
    <img
		class="hero__img"
		src="/img/img_joy2.png"
		alt="Joy Huré"
	/>
	</div>
</section>
