---
import './hero.css';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Joy Huré</h1>
			<p class="hero__text">
				Étudiante en BTS SIO SLAM, toujours prête à transformer les bugs en fonctionnalités cachées.
			</p>
		</div>
    <img
		class="hero__img"
		src="/img/img_joy2.png"
		alt="Joy Huré"
		width="384"
    	height="384"
	/>
	</div>
</section>
