---
import './hero.css';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Joy Huré</h1>
			<p class="hero__text">
				Étudiante en BTS SIO SLAM, je m’investis dans le développement de solutions informatiques adaptées aux besoins, tout en perfectionnant mes compétences techniques.
			</p>
		</div>
    <img
		class="hero__img"
		src="/img/img_joy2.png"
		alt="Joy Huré"
	/>
	</div>
</section>
