---
import { tableauData, veilleData, realisationsData } from '../../components/data/menuData';
import BTSLayout from '../../layouts/BTSLayout.astro';
import "../../styles/global.css"

export async function getStaticPaths() {
	const btspages = [tableauData, veilleData, realisationsData];
	return btspages.map((btspage) => ({
		params: { slug: btspage.slug },
		props: btspage,
	}));
}

const btspage = Astro.props;
const { title} = btspage;
---

<BTSLayout {...btspage}>
	<section id={btspage.slug} class="flex flex-col items-center w-full h-full md:max-w-full justify-center flex-wrap px-4">
		<div class="page__container">
		  
		 
		  <!-- Contenu spécifique à la page -->
		  <slot />
		</div>
	  </section>
</BTSLayout>

