---
import '../../styles/global.css';

const base = import.meta.env.BASE_URL;
---

<nav class="menu-vertical">
    <div class="menu-container">
        <ul class="menu-list">
            <li><a href="#titre1">Titre 1</a></li>
            <li><a href="#titre2">Titre 2</a></li>
            <li><a href="#titre3">Titre 3</a></li>
            <li><a href="#titre4">Titre 4</a></li>
            <li><a href="#titre5">Titre 5</a></li>
            <li><a href="#titre6">Titre 6</a></li>
        </ul>
    </div>
</nav>

<style scoped>
    .menu-vertical {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
    z-index: 2;
}

.menu-container {
    background: #00000033;
    backdrop-filter: blur(20px);
    padding: 1rem;
    border-radius: 14px;
    border: 0.03px solid #7c39fd47;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu-list li a {
    position: relative;
    color: var(--on-primary);
    font-size: var(--text-general);
    cursor: pointer;
}

.menu-list li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    transform: scaleX(0);
    transform-origin: 0;
    height: 2px;
    background: var(--primary);
    transition: 0.35s transform;
}

.menu-list li a:hover {
    color: var(--primary-90);
}

.menu-list li a:hover::after {
    transform: scale(1);
}

@media screen and (max-width: 768px) {
    .menu-vertical {
        bottom: 2rem;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }

    .menu-list {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}
</style>