---
import '../../styles/global.css';
---


    <div class="pdf-content">
    <iframe src="/docs/Stage_Iknae.pdf"></iframe>
    </div>


  <style scoped>
     
    iframe {
      width: 80rem;
      height: 600px;
      border: none;
    }
    pdf-content {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  </style>