---
import '../../styles/global.css';
---


	<div class="pdf-content">
		<iframe id="iknae" src="/docs/Stage_Iknae.pdf"></iframe>
		<div class="text">
			<h1>1er stage : IKNAE TECHNO</h1>
			<h2 class="text-xx-large">Compétences mises en oeuvre :</h2>
			<p class="competences">
			<ul>
				<li><span>Gérer le patrimoine informatique : </span>Allocation des ressources matérielles de la VM Ubuntu (RAM, CPU, espace disque), sélection des outils de développement nécessaires, installation via des référentiels garantissant l’intégrité des outils, création de snapshots pour restaurer la VM en cas de problème, tests de connectivité réseau pour garantir la communication entre systèmes.</li>
				<li><span>Répondre aux incidents et aux demandes d’assistance et d’évolution : </span>Résolution des problèmes d’affichage sur la VM Ubuntu, vérification des installations et tests de PostgreSQL (création de base, gestion des utilisateurs).</li>
				<li><span>Mettre à disposition des utilisateurs un service informatique : </span>Tests du réseau sur la VM Ubuntu, tests des outils PostgreSQL et pgAdmin, installation complète de la VM Ubuntu, mise à jour et configuration des outils nécessaires, installation et configuration des outils de développement, documentation des étapes d’installation et des commandes.</li>
				<li><span>Organiser son développement professionnel : </span>Création d’un environnement isolé sur VM Ubuntu pour expérimenter et apprendre, configuration de VSCode avec des extensions spécifiques, choix d’outils adaptés au projet, recherche de solutions techniques pour résoudre les problèmes rencontrés, amélioration des compétences pratiques sur des technologies couramment utilisées dans ce secteur.</li>
			</ul>
		</p>
		</div>
	</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const hash = window.location.hash;
    if (hash.startsWith('#pdf-page-')) {
      const page = hash.split('-')[2];
      const iframe = document.getElementById('iknae') as HTMLIFrameElement;
      if (iframe && page) {
        iframe.src = `/docs/Stage_Iknae.pdf#page=${page}`;
      }
    }
  });
</script>

<style scoped>
	iframe {
		width: 750px;
		height: 910px;
		border: none;
	}
	.pdf-content {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 2rem;
	}
	.text {
		width: 40%;
		margin-inline: 2rem;
	}
	h1{
		font-size: var(--text-xx-large);
		color: #D058EA;
	}
	h2 {
		font-size: var(--text-x-large);
		
		color: #97A5F4;
	}
	li{
		font-size: var(--text-medium);
		margin-bottom: 1.5rem;
		color: #C2E6FF;
	}
	span {
		font-size: var(--text-large);
		color: #70B8FF;

	}
	.text-center {
		display: none;
	}
</style>
