---
import '../../styles/global.css';
---

<section
	id="tableau"
	class="flex flex-col items-center w-full h-full md:max-w-full justify-center flex-wrap px-4"
>
	<div class="tableau__container">
		<table>
			<tr>
				<th>Compétences</th>
				<th>Réalisation en cours de formation</th>
				<th>Réalisation en milieu professionnel - 1ère année</th>
				<th>Réalisation en milieu professionnel - 2ème année</th>
			</tr>
			<tr>
				<td>Gérer le patrimoine informatique</td>
				<td>Recenser et identifier les ressources numériques</td>
				<td>Exploiter des référentiels, normes et standards</td>
				<td>Mettre en place et vérifier les habilitations</td>
			</tr>
			<tr>
				<td>Répondre aux incidents et demandes d'assistance</td>
				<td>Collecter, suivre et orienter des demandes</td>
				<td
					>Traiter les demandes concernant les services réseau et
					système</td
				>
				<td>Traiter les demandes concernant les applications</td>
			</tr>
			<tr>
				<td>Développer la présence en ligne de l'organisation</td>
				<td
					>Participer à la valorisation de l'image sur les médias
					numériques</td
				>
				<td
					>Référencer les services en ligne et mesurer la visibilité</td
				>
				<td
					>Participer à l'évolution d'un site Web exploitant les
					données de l'organisation</td
				>
			</tr>
			<tr>
				<td>Travailler en mode projet</td>
				<td
					>Analyser les objectifs et les modalités d'organisation d'un
					projet</td
				>
				<td>Planifier les activités</td>
				<td>Évaluer les indicateurs de suivi et analyser les écarts</td>
			</tr>
			<tr>
				<td
					>Mettre à disposition des utilisateurs un service
					informatique</td
				>
				<td
					>Réaliser les tests d'intégration et d'acceptation d'un
					service</td
				>
				<td>Déployer un service</td>
				<td
					>Accompagner les utilisateurs dans la mise en place d'un
					service</td
				>
			</tr>
			<tr>
				<td>Organiser son développement professionnel</td>
				<td
					>Mettre en place son environnement d'apprentissage personnel</td
				>
				<td>Mettre en œuvre des outils et stratégies de veille</td>
				<td>Développer son projet professionnel</td>
			</tr>
		</table>
	</div>
</section>

<style scoped>
	.tableau__container {
		max-width: var(--max-width);
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 5rem auto;
	}
	section {
		margin-bottom: 5rem;
	}

	table {
		width: 100%;
		border-collapse: collapse;
	}
	table,
	th,
	td {
		border: 1px solid rgb(156, 116, 138);
	}
	th,
	td {
		padding: 10px;
		text-align: left;
	}
	th {
		background-color: #f2f2f2;
	}
  td{
    color: #f2f2f2;
  }
</style>
