.skills {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.skills__container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 4.4rem;
	box-sizing: border-box;
	width: 80%;
}

#skills {
	display: flex;
	max-width: calc(var(--max-width) + 2.2rem);
	padding-top: 13rem;
	padding-bottom: 10rem;
	margin-inline: auto;
}

#skills .text-content {
	max-width: 40%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.1rem;
}

@media (max-width: 767px) {
	#skills {
		flex-direction: column-reverse;
	}
	#skills .text-content {
		max-width: 100%;
	}
	.skills .skills__container{
		width: 100%;
	}
}
