---
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
import ToolsOnTerminal from './components/tools-on-terminal/toolsOnTerminal.astro';
---

<section id="skills" class="skills">
	<div class="skills__container">
	
	<SkillsOnTerminal />
	<ToolsOnTerminal/>
	
	</div>
</section>
