---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"

const base = import.meta.env.BASE_URL;
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src={`${base}img/hello_joy.gif`}
			alt="Image à propos Joy Huré"
		/>

		<div class="about__content">
			<Title margin="1rem" contenu="A Propos" />
			<p class="about__text">
				Actuellement en formation pour obtenir un <strong>BTS SIO option SLAM</strong> (Solutions Logicielles et Applications Métier) avec l'école <strong>Studi</strong>, j'envisage par la suite de poursuivre mon parcours vers une licence, puis un master MIAGE.

Forte d'un parcours professionnel diversifié, je souhaite aujourd'hui appliquer mes compétences au domaine de l'informatique afin de participer activement à la création de solutions numériques utiles.

Mon portfolio présente divers projets sur lesquels j'ai travaillé durant ma formation, illustrant mes compétences en développement d’applications.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
