---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"

const base = import.meta.env.BASE_URL;
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src={`${base}img/hello_joy.gif`}
			alt="Image à propos Joy Huré"
		/>

		<div class="about__content">
			<Title margin="1rem" contenu="A Propos" />
			<p class="about__text">
				Diplômée du <strong>BTS SIO option SLAM</strong> (Solutions Logicielles et Applications Métier), j'envisage de poursuivre ma formation vers une licence <strong>MIAGE</strong> (Méthodes Informatiques Appliquées à la Gestion des Entreprises).

Forte d'une expérience professionnelle riche et variée, je souhaite aujourd'hui appliquer mes connaissances au domaine de l'informatique afin de participer activement à la création de solutions numériques utiles.

Mon portfolio présente plusieurs projets pour lesquels je me suis investie durant mon parcours, illustrant mes compétences en développement.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
