---
import Boton from "../components/atoms/Boton.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Page Indisponible">
        <h1 class="text-xl">Page indisponible, merci de réessayer ultérieurement.</h1>
        <Boton texto="Retour" href="/"/>
</Layout>