---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/Header.astro';
import { mainMenu } from '../components/data/menuData';
import Hero from '../components/hero/Hero.astro';
import About from '../components/About/About.astro';
import Career from '../components/career/Career.astro';
import Skills from '../components/skills/Skills.astro';
import Projects from '../components/Projects.astro';
import Exam from '../components/Exam.astro';
import Footer from '../components/Footer/Footer.astro';
---

<Layout title="Joy Huré">
	<Header origin={mainMenu} />
	<main class="self-center w-full">
		<Hero />
		<About />
		<Career />
		<Skills />
		<Projects />
		<Exam />
	</main>
	<Footer/>
</Layout>
