---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="joyH">
	<div class="terminal__skills">
		<h2>Mes Compétences</h2>
		<div class="terminal__skills__container">
			<TerminalIcon src="/assets/html.svg" color="#F5AE73" name="HTML" />

			<TerminalIcon src="/assets/css.svg" color="#0090FF" name="CSS" />

			<TerminalIcon src="/assets/php.svg" color="#8DA4EF" name="PHP" />

			<TerminalIcon src="/assets/mysql.svg" color="#FFD19A" name="MySQL" />

			<TerminalIcon src="/assets/postgresql.svg" color="#8EC8F6" name="PostgreSQL" />

			<TerminalIcon src="/assets/javascript.svg" color="#FFF394" name="Javascript" />

			<TerminalIcon src="/assets/vue.svg" color="#8ECEAA" name="Vue" />

			<TerminalIcon src="/assets/bootstrap.svg" color="#D1AFEC" name="Bootstrap" />

			<TerminalIcon src="/assets/wordpress.svg" color="#00A2C7" name="Wordpress" />
		</div>
	</div>
</Terminal>
