---
import './header.css';
const { origin } = Astro.props;
import Logo from '../Logo.astro';
---

<header class="header">
	<div class="header__container">
		<Logo name="Joy Huré"/>
		<nav class="links" tabindex="0.1">
			<ul class="header__list">
				{
					origin.map((data: any) => (
						<li>
							<a class="menu__link" href={data.link}>
								<span class="icon__container" >
									{data.content}
								</span>
							</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</header>
