---
import './header.css';
const { origin } = Astro.props;
import Logo from '../Logo.astro';
---

<header class="header">
    <div class="header__container">
        <Logo name="Joy Huré" />
        
        <!-- Bouton hamburger pour mobile -->
        <button class="menu__btn" id="menu-toggle" aria-label="Toggle navigation">
            <iconify-icon
                icon="lucide:menu"
                class="hamburger-icon"
                width="27"
                height="27">
            </iconify-icon>
        </button>

        <nav class="links">
            <ul class="header__list" id="menu-list">
                {
                    origin.map((data: any) => (
                        <li>
                            <a class="menu__link" href={data.link}>
                                <span class="icon__container">
                                    {data.content}
                                </span>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>

<script>
    const menuToggle = document.getElementById('menu-toggle');
    const menuList = document.getElementById('menu-list');

    menuToggle?.addEventListener('click', () => {
        menuList?.classList.toggle('active');
    });

    // Fermer le menu si on clique ailleurs
    document.addEventListener('click', (e) => {
        if (!menuToggle?.contains(e.target as Node) && !menuList?.contains(e.target as Node)) {
            menuList?.classList.remove('active');
        }
    });
</script>
