---
import Title from './atoms/Title.astro';
import { tableauData, veilleData, realisationsData } from './data/menuData';
import BTSCards from './BTSCards.astro';

// Récupérez et triez les pages BTS par position
const btspages = [tableauData, veilleData, realisationsData].sort((a, b) => a.position - b.position);
---

<section
	id="exam"
	class="flex flex-col items-center w-full h-full md:max-w-full justify-center flex-wrap px-4"
>
	<div class="exam__container">
		<Title margin="2rem" contenu="BTS SIO SLAM" />
		<div
			class="btscards__container"
		>
			{
				btspages.slice(0, 3).map((btspage) => (
					<BTSCards
						title={btspage.title}
						content={btspage.description}
						img={btspage.heroImage}
						href={`/bts/${btspage.slug}/`}
					>
					</BTSCards>
				))
			}
		</div>
		<a href="../../docs/tableau_synthese.pdf" target="_blank" rel="noopener noreferrer" class="table-link"><iconify-icon icon="mdi:file-pdf-box" class="icon-link" width="35" height="35"></iconify-icon></a>
	</div>
</section>

<style>
	/*layout*/
	.exam__container {
		max-width: var(--max-width);
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 5rem auto;
	}
	section {
		margin-bottom: 5rem;
	}

	.btscards__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		width: 100%;
		max-width: 1371px;
	}

	/*wrappers*/
	.table-link {
		margin-left: 2rem;
	}

	/*utils*/
	.icon-link {
		color: #dcd8fc;
		width: 24px;
		height: 24px;
	}

	.icon-link:hover {
		color: #BEE7F5;
	}

</style>
