---
const {name} = Astro.props;

const base = import.meta.env.BASE_URL;
---
<div class="profile">
    <div class="img__container">
        <img
            class="header__img"
            src={`${base}img/img_joy.png`}
            alt="Logo img"
            width="40px"
            height="40px"
        />
    </div>
    <h3 class="color__gradiente header__title">
        {name}
    </h3>
</div>

<style>

 .img__container {
	border-radius: 50%;
	overflow: hidden;
	transition: 0.35s transform;
}

 .profile {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
	align-items: center;
	gap: 1.5rem;
}
</style>