---
import Title from './atoms/Title.astro';
import { getPortafolioData } from './data/portfolioData.js';
import Card from './card-portfolio/CardPortfolio.astro';
---

<section
	id="projects"
	class="flex flex-col w-full h-full justify-center items-center h-auto min-h-[100dvh]"
>
	<Title margin="2rem" contenu="Projets" class="title-centered" />
	<div class="portfolio__container">
		
		<div class="portfolio__elements">
			{getPortafolioData.map((props) => <Card {...props} />)}
		</div>
	</div>
</section>

<script>
	import { getIMGAverageColor } from '../utils/average-img-color/average-img-color';

	const $cards = document.querySelectorAll('.card__portfolio');
	$cards.forEach((card) => {
		const $container = card.querySelector<HTMLDivElement>(
			'.descripcion__container'
		);
		const $img = card.querySelector('img');
		if (!$img || !$container) return;

		const setBg = () => {
			const [rbgString] = getIMGAverageColor($img, 0.7);
			$container.style.background = rbgString;
		};
		setBg();
		$img.onload = setBg;
	});
</script>

<style>
	.portfolio__elements {
		max-width: var(--max-width);
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 4rem;
	}

	.portfolio__container {
		max-width: var(--max-width);
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 1.5rem auto;
	}
	section {
		margin-bottom: 10rem;
	}
</style>
