---
import Title from '../atoms/Title.astro';
import Timeline from './components/timeline.tsx';
import './career.css';
---

<section id="career" class="career">
  
  <div class="career__container">
	
    <div class="career__content">
		<Title margin="1rem" contenu="Mon Parcours" />
		début
      <Timeline />
	  Fin
    </div>
    <img
      class="about__img"
      src="/img/parcours.gif"
      alt="Image à propos Joy Huré"
    />
  </div>
</section>