---
import Layout from '../../layouts/BTSLayout.astro';
import { portafolioData } from '../../components/data/portfolioData';
import "../../styles/global.css"
import Optitop from '../../content/projects/optitop.astro';

export function getStaticPaths() {
    return portafolioData.map((project) => ({
        params: { slug: project.slug },
        props: { 
            project,
            hideTitle: true // Ajout d'un prop pour masquer le titre
        },
    }));
}

const { project, hideTitle } = Astro.props;
---

<Layout title={project.title} hideTitle={hideTitle}>
    <div class="project_container">
        {project.slug === 'optitop' && <Optitop />}
    </div>
</Layout>