---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './tools-on-terminal.css';
---

<Terminal nombre="joyH">
	<div class="terminal__tools">
		<h2>Outils & Logiciels</h2>
		<div class="terminal__tools__container">
			<TerminalIcon
				src="/assets/vscode.svg"
				color="#0090FF"
				name="VS Code"
			/>
			<TerminalIcon
				src="/assets/github.svg"
				color="#FCFCFC"
				name="Github"
			/>
			<TerminalIcon
				src="/assets/windows.svg"
				color="#0090FF"
				name="Windows"
			/>
			<TerminalIcon src="/assets/ubuntu.svg" color="#F76B15" name="Ubuntu" />
			<TerminalIcon src="/assets/css.svg" color="#00A3FF" name="CSS" />
			<TerminalIcon
				src="/assets/electron.svg"
				color="#3F75FF"
				name="Electron"
			/>
		</div>
	</div>
</Terminal>
